/* Initial Setup Style 
******************************* */

.responsive{
  background: #FFFFF0;
}

.header-area {
  background: #00BFFF;
  border-bottom: 20px solid #8B4513;
}

.wrapper {
    width: 90%; 
    margin: 0 5%;
}

.main-container{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer-area {
  background: #00BFFF;
  border-top: 20px solid #8B4513;
}

.footer-area, .push{
  height: 4em;
}

.evens-and-odds{
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

.evens-and-odds li:nth-child(even){
  background: #8B4513;
}

.evens-and-odds li:nth-child(odd){
  background: #00BFFF;
}

.round-up{
  border: 2px solid #000;
  border-radius: 5px; /* Will degrade to square corners for IE8 -- If rounded corners needed I could uss CSS3 Pie. */
}

.center-me{
  height: 300px;
  text-align: center;
  width:100%;
}

.center-me:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.center {
  display: inline-block;
  vertical-align: middle;
}

.image-area img{
  width: 100%;
}


/* Mobile Styles 
******************************* */

.main {
  padding: 30px 0;
}

.wrapper {
width: 90%;
margin: 0 5%;
}

section{
    margin: 1% 1%;
}

@media only screen and (min-width: 480px) {
   section{
    float: left;
    margin: 1% 1%;
    width: 48%;
  }
}

@media only screen and (min-width: 768px) {
  section{
    float: left;
    margin: 0 1%;
    width: 23%;
  }
}

@media only screen and (min-width: 1140px) {
  
  .wrapper{
    margin:0 auto;
    width:1026px;
  }

  section{
    float: left;
    margin: 0 1%;
    width: 23%;
  }
}

/* General Help */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* IE8 Exceptions */
    
    /*The following is better done with JS/Jquery but for thie excercise doing a CSS Hack*/
    /*aka $("li:nth-child(2)").css( "color", "red" );*/

    .lt-ie8.evens-and-odds li:first-child{
      background: #00BFFF;
    }

    .lt-ie8.evens-and-odds li:first-child + li {
      background: #8B4513;
    }
    
    .lt-ie8.evens-and-odds li:first-child + li + li {
      background: #00BFFF;
    }
    
    .lt-ie8.evens-and-odds li:first-child + li +li + li{
      background: #8B4513;
    }

    .lt-ie8.evens-and-odds li:first-child + li +li + li + li{
      background: #00BFFF;
    }

    .lt-ie8.evens-and-odds li:first-child + li +li + li + li + li{
      background: #8B4513;
    }

    .lt-ie8.evens-and-odds li:first-child + li +li + li + li + li + li{
      background: #00BFFF;
    }

    .lt-ie8.evens-and-odds li:first-child + li +li + li + li + li + li + li{
      background: #8B4513;
    }

    .lt-ie8.evens-and-odds li:first-child + li +li + li + li + li + li + li + li{
      background: #00BFFF;
    }

    .lt-ie8.evens-and-odds li:first-child + li +li + li + li + li + li + li + li + li{
      background: #8B4513;
    } 


