/* Animoto Assignment CSS */

/* Vertical Alignment */

/* This parent can be any width and height */
.wrapper {
  height: 600px;
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
}

/* Form Styles */

.base-form {
  background: #F8F8F8;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  color: #666;
  font: 12px Arial, Helvetica, sans-serif;
  padding: 30px 30px 20px 30px;
  position: relative;
  text-align: left;
  max-width: 500px;
}

.base-form .form-title {
  background: #9DC45F;
  border-bottom: 1px solid #89AF4C;
  border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
  color: #FFF;
  display: block;
  font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 20px 0px 20px 40px;
  margin: -30px -30px 10px -30px;
  text-shadow: 1px 1px 1px #949494;
}

.base-form .form-title>span {
  color: #FFF;
  display: block;
  font-size: 11px;
}

.base-form label {
  display: block;
  margin: 0px 0px 5px;
}

.base-form label>span {
  color: #5E5E5E;
  float: left;
  margin-top: 10px;
}

.base-form input[type="text"],
.base-form input[type="email"]{
  background: #FBFBFB;
  border: 1px solid #E5E5E5;
  box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
  color: #555;
  font: normal 14px/14px Arial, Helvetica, sans-serif;
  height: 30px;
  line-height:15px;
  margin-top: 2px;
  outline: 0;
  padding: 0px 0px 0px 10px;
  width: 100%;
}

.base-form .button {
  background-color: #9DC45F;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
  border: none;
  color: #FFF;
  padding: 10px 25px 10px 25px;
  text-shadow: 1px 1px 1px #949494;
}

.base-form .button:hover {
    background-color:#80A24A;
}

/* Helpers */

.hidden{
  display: none;
}


/* Error Messages */

.base-form label>span.error{
  background: #DC143C;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
  box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
  color: #fff;
  height: 15px;
  padding: 5px 0;
  position: absolute;
    right: -205px;
  text-align: center;
  width: 220px;
}

.error.email-message{
  top: 98px;
}

.error.pass-message{
  top: 162px;
}